---
import Robot from '@/components/robot';
import GridDecoration from '@/components/grid-decoration';
import styles from './hero.module.css';

interface Props {
  feature: string;
}
const { feature } = Astro.props;
---

<article class={styles.container}>
  <GridDecoration client:visible />
  <div class={styles.inner}>
    <div class={styles.content}>
      <Robot client:visible />
      <h1 class={styles.title}>
        {feature} your <span class={styles.text}>robots.txt</span>
      </h1>
      <p class={styles.subtitle}>The right robots.txt file for your project</p>
    </div>
    <p class={styles.phWrap}>
      <a
        href="https://www.producthunt.com/posts/robots-txt-generator-3"
        target="_blank"
        rel="noopener noreferrer"
        class={styles.ph}
        title="Robots.txt Generator was ranked daily #2 for May 24th, 2024 on Product Hunt"
      >
        <img src="/images/ph.svg" alt="Product Hunt Badge" width="150" height="45" />
      </a>
    </p>
  </div>
</article>
